openapi: 3.0.0
info:
  title: "go-gin-webapi"
  version: "1.0.0"
  description: "アカウント登録機能が付いたTODOリストを作る。"
servers:
  - url: http://localhost:8080/api/v1
paths:
  /register:
    post:
      summary: "ユーザー登録"
      description: "ユーザー登録を行う。"
      requestBody:
        required: true
        content:
          application/json: 
            schema:
              $ref: "#/components/schemas/RegisterUserRequest"
      responses:
        "201":
          description: "ユーザー登録成功"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisterUserResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /login:
    post:
      summary: "ログイン"
      description: "ログインを行う。"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginUserRequest"
      responses:
        "201":
          description: "ログイン成功"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginUserResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /logout:
    post:
      security:
        - bearer: []
      summary: "ログアウト"
      description: "ログアウトを行う。"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LogoutUserRequest"
      responses:
        "201":
          description: "ログアウト成功"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LogoutUserResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /users/{user_id}:
    get:
      security:
        - bearer: []
      summary: "ユーザー詳細取得"
      description: "ユーザー詳細を取得する。"
      parameters:
        - $ref: "#/components/parameters/user_id"
      responses:
        "200":
          description: "ユーザー詳細取得成功"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetUserDetailResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
    put:
      security:
        - bearer: []
      summary: "ユーザー情報編集"
      description: "ユーザー情報を編集する。"
      parameters:
        - $ref: "#/components/parameters/user_id"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserRequest"
      responses:
        "200":
          description: "ユーザー情報編集成功"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateUserResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /users/{user_id}/todos:
    get:
      security:
        - bearer: []
      summary: "Todo一覧取得"
      description: "Todo一覧を取得する。"
      parameters:
        - $ref: "#/components/parameters/user_id"
      responses:
        "200":
          description: "Todo一覧取得成功"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetTodoListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
    post:
      security:
        - bearer: []
      summary: "Todo作成"
      description: "Todoを作成する。"
      parameters:
        - $ref: "#/components/parameters/user_id"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTodoRequest"
      responses:
        "201":
          description: "Todo作成成功"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateTodoResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /users/{user_id}/todos/{todo_id}:
    get:
      security:
        - bearer: []
      summary: "Todo詳細取得"
      description: "Todo詳細を取得する。"
      parameters:
        - $ref: "#/components/parameters/user_id"
        - $ref: "#/components/parameters/todo_id"
      responses:
        "200":
          description: "Todo詳細取得成功"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetTodoDetailResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
    put:
      security:
        - bearer: []
      summary: "Todo編集"
      description: "Todoを編集する。"
      parameters:
        - $ref: "#/components/parameters/user_id"
        - $ref: "#/components/parameters/todo_id"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTodoRequest"
      responses:
        "200":
          description: "Todo編集成功"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateTodoResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
    delete:
      security:
        - bearer: []
      summary: "Todo削除"
      description: "Todoを削除する。"
      parameters:
        - $ref: "#/components/parameters/user_id"
        - $ref: "#/components/parameters/todo_id"
      responses:
        "204":
          description: "Todo削除成功"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /users/{user_id}/todos/{todo_id}/goodlucks:
    post:
      security:
        - bearer: []
      summary: "いいね作成"
      description: "いいねを作成する。"
      parameters:
        - $ref: "#/components/parameters/user_id"
        - $ref: "#/components/parameters/todo_id"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateGoodluckRequest"
      responses:
        "201":
          description: "いいね作成成功"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateGoodluckResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
    delete:
      security:
        - bearer: []
      summary: "いいね削除"
      description: "いいねを削除する。"
      parameters:
        - $ref: "#/components/parameters/user_id"
        - $ref: "#/components/parameters/todo_id"
      responses:
        "204":
          description: "いいね削除成功"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
components:
  securitySchemes:
    bearer:
      type: http
      description: JWT Token Authentication
      scheme: bearer
      bearerFormat: JWT
  parameters:
    user_id:
      name: user_id
      in: path
      required: true
      schema:
        type: string
        format: char(28)
    todo_id:
      name: todo_id
      in: path
      required: true
      schema:
        type: string
        format: char(36)
  schemas:
    RegisterUserRequest:
      type: object
      properties:
        email:
          type: string
          format: email
        nickname:
          type: string
          minLength: 1
          maxLength: 20
        password:
          type: string
          format: password
          minLength: 8
          maxLength: 20
    RegisterUserResponse:
      type: object
      properties:
        uid:
          type: string
          format: char(28)
        access_token:
          type: string
          format: jwt
        refresh_token:
          type: string
          format: jwt
    LoginUserRequest:
      type: object
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password
          minLength: 8
          maxLength: 20
    LoginUserResponse:
      type: object
      properties:
        uid:
          type: string
          format: char(28)
        access_token:
          type: string
          format: jwt
        refresh_token:
          type: string
          format: jwt
    LogoutUserRequest:
      type: object
      properties:
        user_id:
          type: string
          format: char(28)
    LogoutUserResponse:
      type: object
      properties:
        message:
          type: string
    GetUserDetailResponse:
      type: object
      properties:
        nickname:
          type: string
        email:
          type: string
          format: email
    UpdateUserRequest:
      type: object
      properties:
        nickname:
          type: string
          minLength: 1
          maxLength: 20
        email:
          type: string
          format: email
    UpdateUserResponse:
      type: object
      properties:
        nickname:
          type: string
        email:
          type: string
          format: email
    TodoStatus:
      type: string
      description: "Todoのステータス"
      enum:
        - 未着手
        - 進行中
        - 完了
        - 保留
    TodoDueDatetime:
      type: string
      description: "期限日時（yyyy/mm/dd hh:mm）"
      pattern: '^\d{4}/\d{2}/\d{2} \d{2}:\d{2}$'
      example: "2026/01/03 09:30"
    CreateTodoRequest:
      type: object
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 30
        content:
          type: string
          maxLength: 1000
        status:
          $ref: "#/components/schemas/TodoStatus"
        due_datetime:
          $ref: "#/components/schemas/TodoDueDatetime"
    CreateTodoResponse:
      type: object
      properties:
        id:
          type: string
          format: char(36)
    UpdateTodoRequest:
      type: object
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 30
        content:
          type: string
          maxLength: 1000
        status:
          $ref: "#/components/schemas/TodoStatus"
        due_datetime:
          $ref: "#/components/schemas/TodoDueDatetime"
    UpdateTodoResponse:
      type: object
      properties:
        id:
          type: string
          format: char(36)
    GetTodoDetailResponse:
      type: object
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 30
        content:
          type: string
          maxLength: 1000
        status:
          $ref: "#/components/schemas/TodoStatus"
        due_datetime:
          $ref: "#/components/schemas/TodoDueDatetime"
    GetTodoListResponse:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
            format: char(36)
          title:
            type: string
            minLength: 1
            maxLength: 30
          status:
            $ref: "#/components/schemas/TodoStatus"
          due_datetime:
            $ref: "#/components/schemas/TodoDueDatetime"
    CreateGoodluckRequest:
      type: object
      properties:
        todo_id:
          type: string
          format: char(36)
        user_id:
          type: string
          format: char(28)
    CreateGoodluckResponse:
      type: object
      properties:
        message:
          type: string
  responses:
    BadRequest:
      description: "Bad Request"
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
            example:
              error: "invalid request body"
    Unauthorized:
      description: "Unauthorized"
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
            example:
              error: "unauthorized"
    Forbidden:
      description: "Forbidden"
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
            example:
              error: "forbidden"
    NotFound:
      description: "Not Found"
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
            example:
              error: "not found"
    InternalServerError:
      description: "Internal Server Error"
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
            example:
              error: "internal server error"